/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bf2a59;
  --ifm-color-secondary: #0d0d0d;
  /* --ifm-menu-color: #0D0D0D; */
  --ifm-footer-background-color: #e5e7eb;
  --ifm-link-visited-color: #86198f;
  --ifm-font-weight-semibold: 600;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ss-dropdown-menu-shadow: -20px 20px 70px 5px rgba(0, 0, 0, 0.25);
}

.markdown a[target='_blank'] {
  background-image: url('/img/externalLink.svg');
  background-position: bottom 51% right 0;
  background-repeat: no-repeat;
  padding-right: 1rem;
}

.markdown a:visited {
  color: var(--ifm-link-visited-color);
}

.footer {
  display: flex;
  align-items: center;
  height: 42px;
}

.navbar__link {
  font-weight: var(--ifm-font-weight-normal);
}

img:not(.no-border),
video:not(.no-border),
iframe:not(.no-border) {
  outline: 1px solid var(--ifm-color-emphasis-300);
  outline-offset: -1px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
