name: Deploy
on:
  push:
    branches:
      - stable

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: CI
      FORCE_COLOR: 1
      GTM_SCRIPTS_ID: ${{ secrets.GTM_SCRIPTS_ID }}
      GTM_LANDING_GROUP_COUNTER_ID: ${{ secrets.GTM_LANDING_GROUP_COUNTER_ID }}
      YANDEX_METRICA_COUNTER_ID: ${{ secrets.YANDEX_METRICA_COUNTER_ID }}
      YANDEX_VERIFICATION_CODE: ${{ secrets.YANDEX_VERIFICATION_CODE }}
      GOOGLE_VERIFICATION_CODE: ${{ secrets.GOOGLE_VERIFICATION_CODE }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Setup git
        run: |
          git config --global user.email "services@iprojects.ru"
          git config --global user.name "sendsay-cat"

      - name: Setup ssh-key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SENDSAY_CAT_KEY }}

      - name: Install packages
        run: yarn install --frozen-lockfile

      - name: Deploy
        run: yarn deploy

  publish:
    needs: [deploy]
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install packages
        run: yarn install --frozen-lockfile

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Publish with playwright
        env:
          PUBLISH_LOGIN: ${{ secrets.PUBLISH_LOGIN }}
          PUBLISH_PASSWORD: ${{ secrets.PUBLISH_PASSWORD }}
          PUBLISH: true
        run: yarn e2e

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: |
            playwright-report
            playwright-artifacts
          retention-days: 30
